<!--suppress JSUnusedLocalSymbols, UnnecessaryLabelJS -->

<div class="overlay" *ngIf="displayOverlay"></div>

<mat-toolbar color="primary" class="searchRow justify-content-around mat-elevation-z3">
	<form class="d-flex align-items-center"
				#myForm="ngForm"
				(ngSubmit)="generateReports(myForm.value)"
				ngNativeValidate>

		<div class="d-flex">
			<span class="mr-1 d-flex align-items-center" i18n="@@home_main_initial_date">Initial date</span>
			<mat-form-field>
				<input type="date"
							 matInput
							 id="initial-date"
							 title="initial-date"
							 [(ngModel)]="searchFormModel.initialDate"
							 name="initialDate">
			</mat-form-field>
		</div>

		<div class="d-flex">
			<span class="mr-1 d-flex align-items-center" i18n="@@home_main_last_date">Last date</span>
			<mat-form-field>
				<input type="date"
							 matInput
							 id="final-date"
							 title="final-date"
							 [(ngModel)]="searchFormModel.finalDate"
							 name="finalDate">
			</mat-form-field>
		</div>

		<button mat-stroked-button type="submit" i18n="@@home_main_generate_reports" class="ml-1">Generate reports</button>

	</form>
</mat-toolbar>

<!-- Horas lançadas por tarefa por dia -->
<div class="m-5 mat-elevation-z8">
	<table mat-table
				 matSort
				 #tableDataHoursPerTaskPerDaySort="matSort"
				 [dataSource]="tableDataHoursPerTaskPerDay.dataSource"
				 class="w-100">
		<ng-container matColumnDef="key">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Key</th>
			<td mat-cell *matCellDef="let element"> {{ element.key }}</td>
		</ng-container>
		<ng-container matColumnDef="status">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
			<td mat-cell *matCellDef="let element"> {{ element.status }}</td>
		</ng-container>
		<ng-container matColumnDef="summary">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Summary</th>
			<td mat-cell *matCellDef="let element"> {{ element.summary }}</td>
		</ng-container>
		<ng-container matColumnDef="created">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Created</th>
			<td mat-cell *matCellDef="let element"> {{ element.created }}</td>
		</ng-container>
		<ng-container matColumnDef="timeSpentHours">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Time spent</th>
			<td mat-cell *matCellDef="let element"> {{ element.timeSpentHours }}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="tableDataHoursPerTaskPerDay.displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: tableDataHoursPerTaskPerDay.displayedColumns;"></tr>
	</table>
</div>

<!-- Horas lançadas por dia -->
<div class="m-5 mat-elevation-z8" id="tableDataHoursPerDayContainer">
	<table mat-table
				 matSort
				 #tableDataHoursPerDaySort="matSort"
				 [dataSource]="tableDataHoursPerDay.dataSource"
				 class="w-100">
		<ng-container matColumnDef="date">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
			<td mat-cell *matCellDef="let element"> {{ element.date }}</td>
		</ng-container>
		<ng-container matColumnDef="hours">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Hours</th>
			<td mat-cell *matCellDef="let element"> {{ element.hours }}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="tableDataHoursPerDay.displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; let even = even; columns: tableDataHoursPerDay.displayedColumns;" [ngClass]="{gray: even}"></tr>
	</table>
</div>

<!-- Horas lançadas do time -->
<div class="m-5 overflow-x-auto mat-elevation-z8">
	<table mat-table
				 matSort
				 [dataSource]="tableDataTeamHoursPerDay.dataSource"
				 class="w-100 center-text">
		<ng-container [matColumnDef]="column" *ngFor="let column of tableDataTeamHoursPerDay.displayedColumns; let i = index" [sticky]="i===0">
			<th mat-header-cell *matHeaderCellDef [ngClass]="{'dark-gray': isWeekend(column)}"> {{ column }} </th>
			<td mat-cell *matCellDef="let element" [ngClass]="{'dark-gray': isWeekend(column)}"> {{ element[i] }} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="tableDataTeamHoursPerDay.displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; let even = even; columns: tableDataTeamHoursPerDay.displayedColumns;" [ngClass]="{gray: even}"></tr>
	</table>
</div>

