<div class="disclaimer d-flex align-items-center justify-content-around">

	<mat-card style="max-width: 80%;">

		<mat-card-header class="d-flex align-items-center">
			<h1 class="d-flex align-items-center">
				<mat-icon [inline]="true" style="margin-right: 1rem;">info</mat-icon>
			</h1>
			<h2>
				<span i18n="@@disclaimer_header_important">Important</span>
			</h2>
		</mat-card-header>

		<mat-card-content>
			<ul>

				<li>
					<ng-container i18n="@@disclaimer_extension_title">
						It's necessary the use of an extension to overcome some JIRA limitations
					</ng-container>

					<ul *ngIf="currentBrowser.extensionUrl">
						<li i18n="@@disclaimer_recommendation">
							We recommend for your browser ({{ currentBrowser.name }}) the following extension:
							<a [href]="currentBrowser.extensionUrl" target="_blank">CORS</a>
						</li>
						<li>
							<strong i18n="@@disclaimer_configure">CONFIGURE the extension</strong> (1)
							<br>
							Remova o valor padrão e adicione o seguinte: <code>{{ currentBrowser.extensionPattern }}</code>
						</li>
					</ul>

					<ul *ngIf="!currentBrowser.extensionUrl">
						<li>
							Recomendamos o uso dos browsers
							<a href="https://www.google.com/chrome/" target="_blank">Chrome</a> ou
							<a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>
							para isso.
						</li>
					</ul>

				</li>

				<li i18n="@@disclaimer_security_info">
					This system does not use secure ways to save your password. Do NOT use it on public computers.
				</li>

			</ul>

			<span *ngIf="currentBrowser.extensionUrl" i18n="@@disclaimer_default_configuration">
				(1) the extension, on its default configurations, opens some security holes in your computer
			</span>
		</mat-card-content>

		<mat-card-actions class="d-flex justify-content-around mx-auto">
			<button mat-raised-button
							color="primary"
							(click)="onAgreeButtonClick()"
							class="btn btn-primary"
							i18n="@@disclaimer_button_agreement">
				I have read and I agree with the above information
			</button>
		</mat-card-actions>

	</mat-card>

</div>
