<div class="container mt-5">
	<footer class="footer">

		<h3 i18n="@@home_footer_useful_links">Useful links</h3>
		<ul>

			<li>
				<a class="link"
					 target="_blank"
					 href="https://docs.atlassian.com/DAC/rest/jira/6.1.html">https://docs.atlassian.com/DAC/rest/jira/6.1.html#d2e4071</a>
			</li>
			<li>
				<a class="link"
					 target="_blank"
					 href="https://confluence.atlassian.com/jiracoreserver073/searching-for-issues-861257157.html">https://confluence.atlassian.com/jiracoreserver073/searching-for-issues-861257157.html</a>
			</li>
			<li>
				<a class="link"
					 target="_blank"
					 href="https://confluence.atlassian.com/jiracoreserver073/advanced-searching-861257209.html">https://confluence.atlassian.com/jiracoreserver073/advanced-searching-861257209.html</a>
			</li>
			<li>
				<a class="link"
					 target="_blank"
					 href="https://confluence.atlassian.com/jiracoreserver073/search-syntax-for-text-fields-861257223.html">https://confluence.atlassian.com/jiracoreserver073/search-syntax-for-text-fields-861257223.html</a>
			</li>

		</ul>

	</footer>
</div>

