<div class="d-flex justify-content-around align-items-center w-100 h-100">
	<div class="fixed-top w-100 h-100 background-image"></div>

	<div class="fixed-top w-100 h-100 overlay"></div>

	<form #myLoginForm="ngForm"
				class="form d-flex flex-column"
				(ngSubmit)="login(myLoginForm.value)"
				ngNativeValidate>

		<mat-card class="card">

			<mat-card-header>
				<mat-card-title><h2>Login</h2></mat-card-title>
			</mat-card-header>

			<mat-card-content class="d-flex flex-column">

				<mat-form-field [hideRequiredMarker]="true">
					<mat-label i18n="@@login_server">Server</mat-label>
					<input matInput
								 [(ngModel)]="loginFormModel.server"
								 id="server"
								 name="server"
								 i18n-placeholder="@@login_server"
								 placeholder="Server placeholder"
								 required
								 type="text">
				</mat-form-field>

				<mat-form-field [hideRequiredMarker]="true">
					<input matInput
								 type="text"
								 placeholder="Username"
								 id="user"
								 i18n-placeholder="@@login_username"
								 [(ngModel)]="loginFormModel.user"
								 name="user"
								 required>
				</mat-form-field>

				<mat-form-field [hideRequiredMarker]="true">
					<input matInput
								 type="password"
								 id="password"
								 i18n-placeholder="@@login_password"
								 [(ngModel)]="loginFormModel.password"
								 name="password"
								 placeholder="Password"
								 required>
				</mat-form-field>

				<mat-checkbox type="checkbox"
											id="savePassword"
											[(ngModel)]="loginFormModel.savePassword"
											name="savePassword"
											i18n="@@login_save_password">
					Save password
				</mat-checkbox>

				<app-error *ngIf="!!error" [error]="error"></app-error>

			</mat-card-content>

			<div class="d-flex flex-column">
				<small>
					<a (click)="clearDisclaimerAgreement()" i18n="@@login_see_usage_terms" routerLink="/disclaimer">
						See usage terms
					</a>
				</small>

				<button mat-raised-button color="primary" type="submit">Login</button>
			</div>

		</mat-card>

	</form>
</div>
