.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 0;
}

.background-image {
	z-index: 0;
	//noinspection CssUnknownTarget
	background-image: url('/assets/login-background.jpeg');
	background-size: cover;
}

.form {
	background-color: white;
	position: relative;
}

.card > * {
	width: 100%;
}
