<div class="fixed-top w-100 h-100 bg-light d-flex justify-content-around align-items-center">

	<div class="fixed-top w-100 h-100 background-image"></div>

	<div class="fixed-top w-100 h-100 overlay"></div>

	<div class="shadow">

		<form #myLoginForm="ngForm"
			class="form box justify-content-center p-4 bg-white"
			(ngSubmit)="login(myLoginForm.value)"
			ngNativeValidate>

			<div class="form-group d-flex flex-column align-items-start">
				<label for="user" i18n="@@login_username">Username</label>
				<input type="text"
							 placeholder="Username (xb207090)"
							 id="user"
					[(ngModel)]="loginFormModel.user"
							 name="user"
							 class="form-control mr-sm-3"
							 required>
			</div>

			<div class="form-group d-flex flex-column align-items-start">
				<label for="password" i18n="@@login_password">Password</label>
				<input type="password"
							 id="password"
					[(ngModel)]="loginFormModel.password"
							 name="password"
							 class="form-control mr-sm-3"
							 required>
			</div>

			<div class="group">
				<input type="checkbox"
							 id="savePassword"
					[(ngModel)]="loginFormModel.savePassword"
							 name="savePassword"
							 class="mr-2"><label for="savePassword" i18n="@@login_save_password">Save password</label>
			</div>

			<app-error *ngIf="!!error" [error]="error"></app-error>

			<small><a (click)="clearDisclaimerAgreement()" i18n="@@login_see_usage_terms" routerLink="/disclaimer">See usage
				terms</a></small>
			<button type="submit" class="btn btn-primary btn-block">Login</button>

		</form>

	</div>
</div>
